<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">Monitor</h1></div>
        <!-- /.col-lg-12 --> </div>
    <!-- /.row --> </div>

<div class="row">
    <div class="col-lg-12" ng-controller="monitorEditCtrl">
        <div class="panel panel-primary">
            <div class="panel-heading"> Monitor <span ng-if="editMode">Edit</span> <span
                    ng-if="!editMode">Add</span></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form1">
                            <div class="form-group">
                                <label ng-show="editMode">Id</label>
                                <input ng-show="editMode" name="atId" ng-model="bean.id" class="form-control"
                                       ng-readonly="true">
                                <label>Description</label>
                                <input type="text" name="atDesc" ng-model="bean.desc" ng-minlength="5"
                                       ng-maxlength="50" class="form-control" placeholder="Monitor Description"
                                       required>
                                <span class="error"
                                      ng-show="form1.atDesc.$error.required">Monitor Description Required!</span>

                                <label>Method</label>
                                <input type="text" name="atMethod" ng-model="bean.method" ng-minlength="5"
                                       ng-maxlength="50" class="form-control" placeholder="Monitor Method" required>
                                <span class="error"
                                      ng-show="form1.atMethod.$error.required">Monitor Method Required!</span>

                                <label>Protocol</label>
                                <input type="text" name="atProtocol" ng-model="bean.protocol" ng-minlength="5"
                                       ng-maxlength="50" class="form-control" placeholder="Monitor Protocol" required>
                                <span class="error"
                                      ng-show="form1.atProtocol.$error.required">Monitor Protocol Required!</span>
                                <label>Status</label>
                                <br/>
                                <toggle-switch style="border: 1px solid #ccc; border-radius: 4px;"
                                               ng-model="bean.status" on-label="On"
                                               off-label="Off"/>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-show="!editMode"
                                    ng-click="insert()">Add
                            </button>
                            <button type="submit" class="btn btn-primary" ng-show="editMode"
                                    ng-click="update()">Update
                            </button>
                            <button type="reset" class="btn btn-primary" ui-sref="dashboard.monitor">Cancel</button>
                        </form>
                    </div>
                </div>
                <!-- /.col-lg-12 (nested) --> </div>
            <!-- /.row (nested) --> </div>
        <!-- /.panel-body --> </div>
    <!-- /.panel --> </div>
<!-- /.col-lg-12 --> </div>
